body {
    background-color: #ebfdff;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

}

button {
    cursor: pointer;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #ebfdffc7;
    display: none;
    z-index: 0;

}

.backdrop.visible {
    display: block;
}



/* TITLE STYLE */


.title {
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    justify-content: center;
    font-size: 12vmin;
    margin: 2rem 2rem 0 2rem;
    color: #2f2e41;
}



.add-book-btn{
    display: flex;
    margin: 2rem auto ;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    color: white;
    background-color: #3a9052;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.05rem;
    align-self: center;
    justify-self: center;
    border: none;
    transition: all 0.3s ease 0s;
}

.add-book-btn:hover {
    background-color: #ebfdff;
    color: #3a9052;
    outline: 1px solid #3a9052;
    outline-offset: -1px;
}


/* Empty directory message */

.empty-directory {
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    display: visible;
    padding: 2rem 2rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.empty-directory p {
    font-size: 1.4rem;
    color: rgb(63, 63, 63);
    letter-spacing: 0.05rem;
}

.empty-directory.hide {
    display: none;
}




/* Input window style */



.add-input-container {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #ffffff;
    font-size: 1.5rem;
    max-width: 40%;
    min-width: 400px;
    height: fit-content;
    justify-content: stretch;
    align-content: center;
    row-gap: 1rem;
    padding: 1rem;
    display: none;
    box-shadow: 5px 5px 20px #d2eef0;
    z-index: 1;
}

.add-input-container.visible {
    display: grid;
}


/*input[type=text] {
    width: 100%;
    height: 1.5rem;
}*/

input {
    border: none;
    background-color: rgba(218, 218, 218, 0.164);
    width: 100%;
    border-radius: 15px;
    height: 2rem;
    margin: 0.5rem auto;
    outline: none;
}

input:focus {
    border: none;
}

.input-button-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1.5fr 2fr 2fr;
    column-gap: 1rem;
    margin: 1rem;

}

/* Grid of all books */


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    justify-items: stretch;
    text-align: center;
    grid-gap: 10px;

}




.book-container {
    width: fit-content;
    padding: 3em;
    border: 1px solid #000;
    height: fit-content;
    background-color: white;
}


@media only screen and (max-width: 750px) {
    img {
        width: 100%;
        max-width:100%;
        height: auto;    
    }
  }